### Gradle ###

.gradle
build

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


### Idea ###

.idea


### Credentials and other sensitive information ###

local.properties